<header class="page-header-ui page-header-ui-dark bg-img-cover overlay" style="background-image: url('https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')">
  <div class="page-header-ui-content position-relative">
    <div class="container px-5">
      <div class="row gx-5 justify-content-center">
        <div class="col-xl-8 col-lg-10 text-center">
          <h1 class="page-header-ui-title">Find the good books</h1>
          <p class="page-header-ui-text mb-5">Hãy chia sẻ những cuốn sách khó tìm mua, và hãy mua những cuốn sách giấy khi có thể.</p>
        </div>
      </div>
      <div class="row gx-5 justify-content-center">
        <div class="col-xl-6 col-lg-8 text-center">
          <form class="row row-cols-1 row-cols-md-auto g-3 align-items-center">
            <div class="col flex-grow-1">
              <input class="form-control form-control-solid" id="inputEmail" type="text" placeholder="Find the good books...">
            </div>
            <div class="col"><button class="btn btn-teal fw-500" type="submit">Search</button></div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="svg-border-angled text-light">
    <!-- Angled SVG Border-->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" fill="currentColor"><polygon points="0,100 100,0 100,100"></polygon></svg>
  </div>
</header>
