<div class="col-xl-3 col-lg-4 col-md-6 mb-5">
  <a class="card lift h-100" href="<%= book_path(book) %>">
    <div class="card-flag card-flag-dark card-flag-top-right card-flag-lg">New</div>

    <%= render '/books/thumb', book: book %>

    <div class="card-body p-3">
      <div class="card-title small mb-0"><%= book.title %></div>
      <div class="text-xs text-gray-500"><%= book.author_name %></div>
    </div>
  </a>
</div>
