<div class="col-lg-3 col-md-6 mb-5">
  <a class="card lift border-top-0 border-start-0 border-end-0 border-bottom-lg border-<%= Category.border_colors.sample %>" href="#!">
    <div class="card-body text-center">
      <%# <div class="icon-stack icon-stack-xl bg-red text-white mb-2"><i class="fas fa-car"></i></div> %>

      <div class="small text-gray-600">
        <h3><%= category.name %></h3>
      </div>
    </div>
  </a>
</div>
