<% if book.thumbnail.attached? %>
  <div class='d-flex' style='height: 216px;'>
    <%= image_tag book.thumbnail.representation(resize_to_limit: [nil, 210]),
      class: 'card-img-top book-thumb-list' %>
  </div>
<% else %>
  <div class='d-flex' style='height: 216px;'>
    <div class='virtual_book_thumb bg-<%= bootstrap_random_color %>'><%= book.title.upcase %></div>
  </div>
<% end %>
