<turbo-frame id="home">
  <div class="row gx-5">
    <%= render partial: '/books/book', collection: @books, as: :book %>
  </div>

  <div class='row mb-5'>
    <div class='col-12 center'>
      <%== pagy_bootstrap_nav @pagy %>
    </div>
  </div>
</turbo-frame>
