/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import 'sb_ui_kit';

turbo-frame {
  display: block;
  padding-right: 0px !important;
}

.simple_flash {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
}

.success {
  color: green;
  border: 1px solid green;
}

.danger {
  color: red;
  border: 1px solid red;
}

.book-thumb-container {
  height: 300px;
}

.placeholder-thumb {
  width: 200px;
  height: 300px;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 0 0 8px gray;
  border-radius: 5px;
}

.book-detail-thumb {
  height: 100%;
  margin: auto;
}

.book-thumb-list {
  height: 100%;
  width: auto;
  margin: auto;
  max-width: 100%;
}

.virtual_book_thumb {
  margin: auto;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 0 0 8px gray;
  max-width: 150px;
  border-radius: 5px;
}
