<turbo-frame id="pagi_home_books">
  <%= render partial: '/books/book', collection: @books, as: :book %>

  <% if @pagy.next %>
    <div class="mb-10">
      <a class="text-arrow-icon" href="<%= turbo_frame_turbo_frame_home_books_path(page: @pagy.next) %>">
        <%= t '.see_more' %>
        <i data-feather="arrow-right"></i>
      </a>
    </div>
  <% end %>
</turbo-frame>
